
@{
    ViewData["Title"] = "Inicio";
}

@section SideBar{ 
    <h1> ¡Bienvenidos a Desayunos! <</h1>
    
}

    <div>
        <p> El desayuno es la primera comida que se consume en el día. </p>
        <p> El nombre deriva del hecho de que uno no come mientras duerme, por lo que al levantarse se encuentra en ayunas, rompiéndose ese ayuno al tomar esta comida (des-ayuno). </p>
        <p> "El desayuno es la comida fundamental del día, ya que consumirlo o no, nos afecta de forma notable a corto y a largo plazo. </p>
</div>

   

